# IDEs and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
chrome-profile/

# Backend patterns
backend/vendor/
backend/node_modules/
backend/bootstrap/cache/*
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/views/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/.env
backend/.env.backup
backend/.phpunit.result.cache

# Frontend patterns
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/build/
frontend/cache/
frontend/.env
frontend/.env.local
frontend/.env.*.local
